<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1041946139722-aenjmvptprv44fi3oopor1qimv17ldbu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBS_HxXO4vIafd1nHXVREF1xZoxA2kN66o</string>
	<key>GCM_SENDER_ID</key>
	<string>1041946139722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gymeats.app.mobile</string>
	<key>PROJECT_ID</key>
	<string>gymeats-44b7a</string>
	<key>STORAGE_BUCKET</key>
	<string>gymeats-44b7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041946139722:ios:87c0842937a6321a555ab3</string>
</dict>
</plist>